@{
    ViewData["Title"] = "Index";
}
<h3 style="text-align:center"> WELCOME </h3>

<img src="~/bookkkk.jpg" align="middle" alt="Centered Image" />
<div class="d-grid gap-2">
    
    <button class="border-dark-subtle border-5 btn btn-lg mt-2 p-1 btn-primary" type="button">
        <a href="Login" />
        Log in
        </button>
    
    <button class=" border-dark-subtle border-5 btn btn-lg p-1 btn-primary" type="button">
            <a href="SignUp">
        Sign up
        </button>
</div>