@{
    ViewData["title"] = "index";
}

<section>
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">create an account</h2>

                            <form>

                                <div class="form-outline mb-4">
                                    <input type="text" id="form3example1cg" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3example1cg">your name</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="email" id="form3example3cg" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3example3cg">your email</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" id="form3example4cg" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3example4cg">password</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" id="form3example4cdg" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3example4cdg">repeat your password</label>
                                </div>

                                <div class="form-check d-flex justify-content-center mb-5">
                                    <input class="form-check-input me-2" type="checkbox" value="" id="form2example3cg" />
                                    <label class="form-check-label" for="form2example3g">
                                        i agree all statements in <a href="termsofservices" class="text-body"><u>terms of service</u></a>
                                    </label>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="button"
                                            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                        register
                                    </button>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">
                                  already has an account? <a href="login"
                                                                class="fw-bold text-body"><u>login here</u></a>
                                </p>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>